.wrapper {
    margin-bottom: 5rem;
}

.jobTitle {
    color: var(--textPrimary);
    font-size: var(--fontSubheading);
}

.company {
    color: var(--textHighlight);
    font-size: var(--fontSubheading);
}

.subtitle {
    display: block;
    color: var(--textSecondary);
    font-size: var(--fontSmall);
    margin-bottom: 1rem;
}

.description {
    display: block;
    color: var(--textPrimary);
    font-size: var(--fontSmall);
}

.description:not(:last-child) {
    margin-bottom: 0.5rem;
}

.description:last-child {
    margin-bottom: -2rem;
}

.description:before {
    content: "▹ ";
    color: var(--detailPrimary);
}