.wrapper {
    margin-bottom: 6rem;
}

.wrapper p {
    color: var(--textPrimary);
    font-size: var(--fontHeading);
}

.wrapper ul {
    list-style: none;
    color: var(--textPrimary);
    font-size: var(--fontMedium);
}

.wrapper ul li {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.wrapper ul li a {
    color: var(--textPrimary);
    text-decoration: none;
    padding-left: 1rem;
    transition: all 0.2s ease-in-out;
}

.wrapper ul li a:hover {
    color: var(--textHighlight);
}