@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;

  --backgroundPrimary: #272e3a;
  --backgroundSecondary: #393f48;
  --backgroundTertiary: black;
  --detailPrimary: rgb(47, 163, 163);
  --detailSecondary: gray;
  --sectionHeaderColor: gray;
  --textPrimary: white;
  --textSecondary: lightgray;
  --textHighlight: rgb(47, 163, 163);

  --fontTitle: 4.5rem;
  --fontHeading: 3rem;
  --fontSubheading: 1.8rem;
  --fontMedium: 1.5rem;
  --fontSmall: 1.3rem;
}

body {
  display: flex;
  background-color: var(--backgroundPrimary);
}

h1 {
  color: var(--textPrimary);
  font-size: var(--fontTitle);
}

h2 {
  color: var(--sectionHeaderColor);
  font-size: var(--fontHeading);
  border-top: 1px solid var(--sectionHeaderColor);
  margin-bottom: 1rem;
}

h3 {
  color: var(--textPrimary);
  font-size: var(--fontSubheading);
  margin-bottom: 1rem;
}

h4 {
  color: var(--textHighlight);
  font-size: var(--fontMedium);
  margin-bottom: 1rem;
}

p {
  color: white;
  font-size: var(--fontSmall);
  margin-bottom: 2rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--backgroundPrimary);
}

::-webkit-scrollbar-thumb {
  background: var(--detailPrimary);
  border-radius: 3px;
}

@media (max-width: 1024px) {
  html {
    --fontTitle: 3rem;
    --fontHeading: 2rem;
    --fontSubheading: 1.5rem;
    --fontMedium: 1.3rem;
    --fontSmall: 1rem;
  }
}

@media (max-width: 664px) {
  html {
    --fontTitle: 4.5rem;
    --fontHeading: 3rem;
    --fontSubheading: 1.8rem;
    --fontMedium: 1.5rem;
    --fontSmall: 1.3rem;
  }
}
