.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}

.subtitle {
    color: var(--textSecondary);
    font-size: var(--fontSubheading);
    max-width: 50vw;
}

@media(max-width: 1024px) {
    .wrapper {
        height: 100%;
        margin-bottom: 5rem;
    }

    .subtitle {
        max-width: 100%;
    }
}