.menu {
    display: none;
}

.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundSecondary);
    height: 100vh;
    width: 15vw;
}

.container {
    display: block;
    text-align: right;
    margin-bottom: 2rem;
}

.activeText {
    font-size: var(--fontSmall);
    color: var(--textHighlight);
}

.inactiveText {
    font-size: var(--fontSmall);
    transition: all 350ms ease;
}

.inactiveText:hover {
    color: var(--textHighlight);
    cursor: pointer;
}

.socials {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.socials a {
    color: var(--textPrimary);
    text-decoration: none;
    margin: 0.5rem;
    transition: all 250ms ease;
}

.socials a:hover {
    color: var(--textHighlight);
}
  
.tooltip .tooltipText {
    visibility: hidden;
    opacity: 0;
    width: 100px;
    background-color: var(--backgroundTertiary);
    color: var(--textPrimary);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transition: opacity 350ms ease-in-out;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 10px;
}

.tooltip .tooltipText::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--backgroundTertiary) transparent transparent transparent;
  }
  
.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

@media(max-width: 1300px) {
    .wrapper {
        width: 20vw;
    }
    
    .socials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem
    }
}

@media(max-width: 664px) {
    .wrapper {
        display: none;
    }
}